# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
.metro/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
*.log

# OS
.DS_Store
Thumbs.db
Desktop.ini

# certificates
*.pem

# local env files
.env
.env.*
.env*.local

# typescript
*.tsbuildinfo

# tests and coverage
coverage/
.nyc_output/

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/

# local AI instructions
AGENTS.md

# generated native folders
/ios
/android
